.container2 {
  min-height: 100vh;
  width: 100%;
  /* background-color: #ffffff; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  z-index: 3;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2956%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient2957)'%3e%3c/rect%3e%3cpath d='M1440 0L1179.8600000000001 0L1440 260.51z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1179.8600000000001 0L1440 260.51L1440 406.56L693.8200000000002 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M693.8199999999999 0L1440 406.56L1440 466.81L477.5899999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M477.5899999999999 0L1440 466.81L1440 518.08L284.4799999999999 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L610.27 560L0 360.90999999999997z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 360.90999999999997L610.27 560L961.02 560L0 308.28z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 308.28L961.02 560L1045.83 560L0 225.92999999999998z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 225.93L1045.83 560L1166.4399999999998 560L0 133.53z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2956'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2957'%3e%3cstop stop-color='rgba(181%2c 181%2c 181%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(246%2c 246%2c 246%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(4%2c 194%2c 201%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper2 {
  width: 80vw;
}

.titlePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.titlePage h1 {
  color: #45474a;
  margin: 0px;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.bottom_border {
  margin: 25px 0 0px 0;
  background: #45474a;
  width: 110px;
  height: 4px;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 75px;
}

.about_description {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.about_subtitle {
  color: #45474a;
  font-size: 2rem;
  font-weight: 600;
  margin: 50px 0 50px 0;
}

.about_description p {
  line-height: 18pt;
  text-align: left;
}

.about_skills {
  padding: 0 50px;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.container_skills {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.icon {
  width: 100px;
  height: 100px;
}

.card_skills {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
}

.about_button {
  border: 2px solid #e31b6d;
  color: #ffffff;
  width: 120px;
  cursor: pointer;
  padding: 10px 0px;
  margin: 5px 20px 0 0;
  background-color: #e31b6d;
  letter-spacing: 3px;
  font-size: 12pt;
  font-weight: 600;
}

.about_button:hover {
  transition: 0.2s ease 0s;
  color: #ffffff;
  background-color: #b31758;
  border: 2px solid #b31758;
}

.about_button:focus {
  outline: 0;
}

@media only screen and (max-width: 968px) {
  .about {
    flex-direction: column;
  }

  .about_description {
    padding: 0;
  }

  .about_skills {
    padding: 0;
    width: 100%;
  }
}
