.container {
  width: 100vw;
  height: 100vh;
  background-color: #252934;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.particles {
  position: relative;
  width: 100vw;
  height: 100vh;

  z-index: 0;
}

.text {
  color: #ffffff;
  font-size: 32pt;
  line-height: 36pt;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 20px;
  line-height: 36px;
}

.first_button {
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: inherit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 180px;
  font-size: 16pt;
  font-weight: 600;
  padding: 12px 20px 12px 20px;
  margin-bottom: 53px;
  background-color: transparent;
}

button:hover {
  background-color: #04c2c9;
  border: 2px solid #04c2c9;
}

.arrow {
  fill: white;
  transition: transform 0.3s;
}

.arrowRotate {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

@media (max-width: 768px) {
  .container {
    padding-top: 6vh;
    height: 94vh;
  }
  .particles {
    height: 94vh;
  }
}
