.contact_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  /* background-color: #252934; */
  background: rgb(35, 39, 48);
  background: linear-gradient(
    45deg,
    rgba(35, 39, 48, 1) 0%,
    rgba(50, 56, 71, 1) 100%
  );
  z-index: 3;
}

.contact_wrapper {
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 0;
}

.titlePageContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlePageContact h1 {
  color: #fefefe;
  margin: 0px;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.bottom_border_contact {
  margin: 25px 0 40px 0;
  background: #fefefe;
  width: 110px;
  height: 4px;
}

.contact_highlight {
  color: #04c2c9;
  font-weight: 600;
  text-align: center;
}

.contact_form {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 0;
  width: 500px;
}

input {
  background: #1e242c;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

textarea {
  background: #1e242c;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  min-height: 150px;
}

.contact_button {
  border: 2px solid #ffffff;
  color: #ffffff;
  width: 120px;
  float: right;
  cursor: pointer;
  align-self: flex-end;
  padding: 10px 0px;
  margin: 5px 0 0 0;
  background-color: transparent;
  font-size: 12pt;
  font-weight: 600;
}

.contact_button:hover {
  background-color: #04c2c9;
  border: 2px solid #04c2c9;
}

.footer_icons {
  display: flex;
  justify-content: center;
}

.footer_icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  margin: 50px 25px 50px 25px;
  width: 55px;
}

.footer_icons a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #8f9aa7;
  cursor: pointer;
  height: 55px;
  margin: 50px 25px 50px 25px;
  width: 55px;
}

.footer_icons a:hover {
  background: #c6d3e4;
}

@media only screen and (max-width: 968px) {
  .contact_form {
    width: 90vw;
  }
}
