.container2 {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  z-index: 3;
}

.wrapper2 {
  width: 80vw;
}

.titleAbout {
  margin-top: 40px;
}

.about {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .container2 {
    height: 94vh;
  }
  .about {
    flex-direction: column;
  }
}
