.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 57px;
  /* background-color: #1b242f; */

  z-index: 100;
  transform: translatey(-60px);
  transition: transform 0.4s ease-out;
  transition-delay: 1000ms;
}

.navbar--scrolled {
  /* background: rgb(237, 237, 237);
  background: linear-gradient(
    45deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
  background: rgb(180, 180, 180);
  background: linear-gradient(
    225deg,
    rgba(180, 180, 180, 1) 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(230, 230, 230, 1) 94%,
    rgba(181, 181, 181, 1) 100%
  );
  -webkit-box-shadow: -3px 7px 8px 0px rgba(120, 120, 120, 1);
  -moz-box-shadow: -3px 7px 8px 0px rgba(120, 120, 120, 1);
  box-shadow: -3px 7px 8px 0px rgba(120, 120, 120, 1);
}

.navbar--background-about {
  background: rgb(180, 180, 180);
  background: linear-gradient(
    225deg,
    rgba(180, 180, 180, 1) 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(230, 230, 230, 1) 94%,
    rgba(181, 181, 181, 1) 100%
  );

  -webkit-box-shadow: -3px 7px 8px 0px rgba(120, 120, 120, 1);
  -moz-box-shadow: -3px 7px 8px 0px rgba(120, 120, 120, 1);
  box-shadow: -3px 7px 8px 0px rgba(120, 120, 120, 1);
  transition: 0.2s ease 0s;
}

.navbar--background-portfolio {
  background: rgb(237, 237, 237);
  background: linear-gradient(
    45deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  -webkit-box-shadow: -3px 7px 8px 0px rgba(120, 120, 120, 1);
  -moz-box-shadow: -3px 7px 8px 0px rgba(120, 120, 120, 1);
  box-shadow: -3px 7px 8px 0px rgba(120, 120, 120, 1);
  transition: 0.2s ease 0s;
}

.navbar--background-contact {
  background-color: #1b242f;
  -webkit-box-shadow: -3px 7px 8px 0px rgb(0, 0, 0);
  -moz-box-shadow: -3px 7px 8px 0px rgb(0, 0, 0);
  box-shadow: -3px 7px 8px 0px rgb(0, 0, 0);
  transition: 0.2s ease 0s;
}

.navbar.open {
  transform: translatey(0);
}

.navbar_navig {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95vw;
}

.navbar_navig_items ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: none;
  padding: none;
}

.navbar_navig_links {
  font-weight: 600;
  color: #fefefe;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0 20px;
  letter-spacing: 3px;
  padding-bottom: 12px;
  -webkit-font-smoothing: grayscale;
}

.navbar_navig_links_dark {
  color: #1b242f;
}
.navbar_navig_links:hover {
  color: #e31b6d;
}

.navbar_navig_links--active {
  border-bottom: 4px solid #e31b6d;
  transition: all 0.2s ease 0s;
}

@media (max-width: 768px) {
  .drawerToggleButton {
    margin-right: 5vw;
  }

  .navbar_navig_items {
    display: none;
    height: 100%;
  }
  .navbar {
    background-color: #1b242f;
    height: 6vh;
    z-index: 300;
  }
  .navbar_navig_links {
    padding-bottom: 3px;
  }

  .navbar--background-about,
  .navbar--background-portfolio,
  .navbar--background-contact {
    background: #1b242f;
    box-shadow: none;
  }
}

@media (min-width: 769px) {
  .drawerToggleButton {
    display: none;
  }
}
