.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1b242f;
  z-index: 100;
}

.navbar_navig {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
}

.navbar_navig_items ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: none;
  padding: none;
}

.navbar_navig_items a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0 20px;
  letter-spacing: 3px;
  padding-bottom: 4px;
}

.navbar_navig_items a:hover,
.navbar_navig_items a:active {
  border-bottom: 2px solid #e31b6d;
}

@media (max-width: 768px) {
  .drawerToggleButton {
    margin-right: 5vw;
  }

  .navbar_navig_items {
    display: none;
    height: 100%;
  }
  .navbar {
    background-color: #1b242f;
    height: 6vh;
    z-index: 300;
  }
}

@media (min-width: 769px) {
  .drawerToggleButton {
    display: none;
  }
}
