.projects_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* background-color: #f5f5f5; */
  /* background: rgb(237, 237, 237);
  background: linear-gradient(
    45deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
  z-index: 3;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1402%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='url(%23SvgjsLinearGradient1403)'%3e%3c/rect%3e%3cpath d='M945.68 523.68 a280.25 280.25 0 1 0 560.5 0 a280.25 280.25 0 1 0 -560.5 0z' fill='rgba(4%2c 194%2c 201%2c 0.1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M327.93 814.23 a161.82 161.82 0 1 0 323.64 0 a161.82 161.82 0 1 0 -323.64 0z' fill='rgba(4%2c 194%2c 201%2c 0.1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M443.07 864.32 a217.12 217.12 0 1 0 434.24 0 a217.12 217.12 0 1 0 -434.24 0z' fill='rgba(4%2c 194%2c 201%2c 0.1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1080.38 611.54 a258.71 258.71 0 1 0 517.42 0 a258.71 258.71 0 1 0 -517.42 0z' fill='rgba(4%2c 194%2c 201%2c 0.1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M912.15 827.41 a161.63 161.63 0 1 0 323.26 0 a161.63 161.63 0 1 0 -323.26 0z' fill='rgba(4%2c 194%2c 201%2c 0.1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-220.08 114.19 a272.29 272.29 0 1 0 544.58 0 a272.29 272.29 0 1 0 -544.58 0z' fill='rgba(4%2c 194%2c 201%2c 0.1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M224.52 21.29 a258.56 258.56 0 1 0 517.12 0 a258.56 258.56 0 1 0 -517.12 0z' fill='rgba(4%2c 194%2c 201%2c 0.1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1402'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='90.63%25' y1='-15%25' x2='9.38%25' y2='115%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1403'%3e%3cstop stop-color='rgba(181%2c 181%2c 181%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(246%2c 246%2c 246%2c 1)' offset='0.49'%3e%3c/stop%3e%3cstop stop-color='rgba(230%2c 230%2c 230%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bold {
  font-weight: bold;
}

.projects_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.project {
  display: flex;
  margin: 100px 0 100px 0;
}

.project_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.project_title {
  color: #45474a;
  margin: 0px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.project_tag {
  text-transform: uppercase;
  font-weight: 600;
  color: #c0c0c0;
  padding-bottom: 15px;
  border-bottom: 1px solid #c0c0c0;
}

.project_description {
  line-height: 18pt;
  text-align: left;
}

.project_picture {
  flex: 1;
  padding: 0 50px;
  margin-bottom: 15px;
}

.project_button {
  /* border: 2px solid #45474a;
  color: #45474a;
  width: 120px;
  cursor: pointer;
  padding: 10px 0px;
  margin: 5px 20px 0 0;
  background-color: transparent;
  font-size: 12pt;
  font-weight: 600; */

  border: 2px solid #e31b6d;
  color: #ffffff;
  width: 120px;
  cursor: pointer;
  padding: 10px 0px;
  margin: 5px 20px 0 0;
  background-color: #e31b6d;
  letter-spacing: 1px;
  font-size: 12pt;
  font-weight: 600;
}

.project_button:hover {
  /* transition: 0.2s ease 0s;
  color: #ffffff;
  background-color: #45474a;
  border: 2px solid #45474a; */

  transition: 0.2s ease 0s;
  color: #ffffff;
  background-color: #b31758;
  border: 2px solid #b31758;
}

.project_button:focus {
  outline: 0;
}

.project_button_view {
  color: #45474a;
  cursor: pointer;
  background-color: transparent;
  font-size: 12pt;
  font-weight: 600;
  border: none;
  padding: 0 0 2px 0;
}

.project_button_view:hover {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #45474a;
  font-weight: 900;
}

@media only screen and (max-width: 968px) {
  .project {
    flex-direction: column-reverse;
  }

  .project_picture {
    padding: 0;
  }

  .project_info {
    padding: 0;
  }
}
